<ul>
    <li><%= @portfolio.title %></li>
    <li><%= @portfolio.tags %></li>
    <li><%= @portfolio.price_per_day %></li>
</ul>
<%= link_to "Add songs", new_portfolio_path , class: "btn btn-primary" %>
<%= link_to "Back", portfolios_path , class: "btn btn-light" %>
<%= link_to "Edit", edit_portfolio_path(params[:id]), class: "btn btn-secondary" %>
<%= link_to "Delete", portfolio_path(params[:id]), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%# for song %>
<%# <%= simple_form_for(@user) do |f| %>
  <%# <%= f.input :schedule, as: :check_boxes, collection: [['Day 1', 1], ['Day 2', 2]] %>
  <%# <%= f.button :submit %>
<%# <% end %>