<h1>Portfolio infos</h1>
<ul>
    <li><%= @portfolio.title %></li>
    <li><%= @portfolio.tags %></li>
    <li><%= @portfolio.price_per_day %></li>
</ul>
<p>----------</p>
<h4>Portfolio songs</h4>
<ul>
    <% @songs.each do |song| %>
        <li>
            <%= song.song_title + ", " + song.artist_name %>
        </li>
    <% end %>
</ul>

<%= cl_image_tag @portfolio.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to "Add songs", new_portfolio_path , class: "btn btn-primary" %>
<%= link_to "Back", portfolios_path , class: "btn btn-light" %>
<%= link_to "Edit", edit_portfolio_path(params[:id]), class: "btn btn-secondary" %>
<%= link_to "Delete", portfolio_path(params[:id]), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
