<h1>Mes Réservations pour le Portfolio <%= @portfolio.title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.email %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.status.capitalize %></td>
        <td>
          <%= link_to 'Voir', portfolio_booking_path(@portfolio, booking), class: 'btn btn-info' %>
          <%= link_to 'Supprimer', portfolio_booking_path(@portfolio, booking), method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cette réservation ?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
