<h1>Détails de la réservation</h1>

<p>
  <strong>Début :</strong>
  <%= @start_date.present? ? @start_date.strftime('%d/%m/%Y') : "Date non définie" %>
</p>

<p>
  <strong>Fin :</strong>
  <%= @end_date.present? ? @end_date.strftime('%d/%m/%Y') : "Date non définie" %>
</p>

<p>
  <strong>Statut :</strong>
  <%= @booking.status.present? ? @booking.status.capitalize : "Statut non défini" %>
</p>

<p>Prix par jour : <%= @price_per_day %> €</p>

<% if @start_date.present? && @end_date.present? %>
  <p>Prix total : <%= @total_price %> €</p>
<% else %>
  <p>Prix total : Date de début ou de fin manquante</p>
<% end %>

<%= link_to "Retour", portfolio_bookings_path(@booking.portfolio), class: "btn btn-secondary" %>

<%= link_to "Accepter", accept_portfolio_booking_path(@portfolio, @booking), method: :patch, class: "btn btn-success" %>
<%= link_to "Décliner", decline_portfolio_booking_path(@portfolio, @booking), method: :patch, class: "btn btn-danger" %>
<%= link_to "Annuler", cancel_portfolio_booking_path(@portfolio, @booking), method: :patch, class: "btn btn-warning" %>
