<h1>Détails de la réservation</h1>

<p>
  <strong>Début :</strong>
  <%= @booking.start_date.present? ? @booking.start_date.strftime('%d/%m/%Y') : "Date non définie" %>
</p>

<p>
  <strong>Fin :</strong>
  <%= @booking.end_date.present? ? @booking.end_date.strftime('%d/%m/%Y') : "Date non définie" %>
</p>

<p>
  <strong>Statut :</strong>
  <%= @booking.status.present? ? @booking.status.capitalize : "Statut non défini" %>
</p>

<p>
  <strong>Prix total :</strong>
  <%= @booking.total_price.present? ? number_to_currency(@booking.total_price, unit: "€") : "Prix non défini" %>
  (Prix par jour: <%= number_to_currency(@booking.portfolio.price_per_day, unit: "€") %>)
</p>

<%= link_to "Retour", portfolio_bookings_path(@booking.portfolio), class: "btn btn-secondary" %>

<%# <%= link_to "Accepter", accept_portfolio_booking_path(@portfolio, @booking), method: :patch, class: "btn btn-success btn-sm", data: { confirm: "Accepter cette demande ?" } if @booking.pending? %>
<%= link_to "Refuser", decline_portfolio_booking_path(@booking.portfolio, @booking), method: :patch, class: "btn btn-danger btn-sm", data: { confirm: "Refuser cette demande ?" } if @booking.pending? %>
<%= link_to "Annuler", cancel_portfolio_booking_path(@booking.portfolio, @booking), method: :patch, class: "btn btn-warning btn-sm", data: { confirm: "Annuler cette demande ?" } if @booking.pending? %>
<%= link_to "Accepter", accept_portfolio_booking_path(@booking.portfolio, @booking), method: :patch, class: "btn btn-success btn-sm", data: { confirm: "Accepter cette demande ?" } if @booking.pending? %>
