<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      document.addEventListener("turbo:load", function() {
        lucide.createIcons(); 
      });
    </script>
  </head>

  <body style="margin: 0; padding: 0; height: 100vh;"
        class="d-flex flex-column bg-black text-white">

    <header class="flex-shrink-0">
      <%= render "shared/navbar" %>
    </header>
    <main class="d-flex flex-column flex-grow-1" style="overflow: hidden; min-height: 0;">
      <%= yield %>
    </main>
    <%= yield :modals %>
  </body>
</html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">
